<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" enabled="true" stopProcessing="true">
                    <match url="^sitemap.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?route=feed/google_sitemap" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^googlebase.xml$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?route=feed/google_base" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^download/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?route=error/not_found" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 4" enabled="true" stopProcessing="true">
                    <match url="^([^?]*)" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{URL}" pattern=".*\.(ico|gif|jpg|jpeg|png|js|css)" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php?_route_={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>